<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show specific post</title>
</head>
<body>
    <h2>here is your post</h2>
    <p>Post id : <%= post.id %></p>
    <div>
       <h3>@<%=post.username%></h3>
    <h4><%=post.tag%></h4>
    <img height="100px" width="200px" src="<%=post.link%>" alt="image">
        
    </div>
    
    
</body>
</html>